@CHARSET "ISO-8859-1";

*{
	margin:0;
	padding:0;
}


nav ul{
	width:200px;
	height:100%;
	float:left;
	list-style-type: none;
}

nav ul li{
		
	margin-left:20px 0px;
}

nav ul li:FIRST-CHILD{
	margin-top:40px;
}
nav ul li a {
    color: gray;
    text-decoration: none;
    display: block;
    padding: 10px 10px 10px 20px;
}
nav ul li a:hover {
    background: gray;
    border-left: 10px solid orange;
    color: #E2E2E2;
}


<!--tablas-->

table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #FFF;
  color: #47433F;
  border-top: 1px solid #FFF;}






















